UpdateInterval=0
TimeScale=0
Size=16
Mode=0
Frame=1
Border=0
Bars=0
TrackedCore=0
Command=top
InTerminal=1
StartupNotification=0
ColorMode=0
Foreground1=#c4bdde3dc4bd
Foreground2=#b8649e519e51
Foreground3=#00000000ffff
Background=#2322128b128b
BarsColor=#1f1f1f1f1f1f
